<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wordament - password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <div class="container">
        <h1>Part 2 Password Game</h1>
        <h3 class="subfont">Guess a word from what you found from part 1</h3>


        

        {% with messages = get_flashed_messages(category_filter=["word_label"]) %}
            {% if messages %}
                <ul class="flash">
                    {% for message in messages %}
                        <h3>{{ message }}</h3>
                    {% endfor %}
                </ul>
            {%else%}
                <ul class="flash">                
                    <h3>_ _ _ _</h3>
              </ul>
            {% endif %}
        {% endwith %}

        {% with messages = get_flashed_messages(category_filter=["hangman_label"]) %}
            {% if messages %}
                <ul class="flash">
                    {% for message in messages %}
                        <h3>{{ message }}</h3>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <div class="keybord">
            
            {% for key in keybord %}
                <form action="/key" method="post">
                    <button type="submit" name="key_id" value = "{{key}}" class="subfont">{{key}}</button>
                    <input type="hidden" id="guess_word" name="guess_word" value={{word_to_guess}}>
                </form>
            {% endfor %}
            
        </div>

        <h1> </h1>

        <form action="/guess" method="post">
            <button type="submit" class="subfont">Guess</button>
        </form>
    </div>
</body>

</html>